rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      // Authenticated users (admins) can do anything
      allow read, write: if request.auth != null;
      // Unauthenticated users (public) can only read individual products
      allow get: if true;
    }
    
    // Unauthenticated users can list the products collection
    match /products/{productId=**} {
        allow list: if true;
    }

    match /sales/{saleId} {
      // Only authenticated users can manage sales
      allow read, write: if request.auth != null;
    }
  }
}
